force-app/main/default/flows/Personal_Injury_Intake_Questionnaire.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Convert_Multi_to_String</name>
        <label>Convert Multi to String</label>
        <locationX>1590</locationX>
        <locationY>1490</locationY>
        <actionName>ConvertMultiSelectToCommaDelimited</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Navigation</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>multiSelectValues</name>
            <value>
                <elementReference>Get_Intake.Body_parts_injured__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertMultiSelectToCommaDelimited</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varInjuriesCSV</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>GetPicklistValues</name>
        <label>GetPicklistValues</label>
        <locationX>1722</locationX>
        <locationY>134</locationY>
        <actionName>GetPicklistValuesBulkified</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Picklist_Values</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>litify_pm__Intake__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Body_parts_injured__c</stringValue>
            </value>
        </inputParameters>
        <nameSegment>GetPicklistValuesBulkified</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Show_Toast</name>
        <label>Show Toast</label>
        <locationX>3746</locationX>
        <locationY>2006</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Questionnaire completed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Comma</name>
        <label>Add Comma</label>
        <locationX>1986</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varStagesCSV</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Stages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count_of_Stages</name>
        <label>Assign Count of Stages</label>
        <locationX>1722</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varStageCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varStages</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Stages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Stage</name>
        <label>Assign Current Stage</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>varCurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStage1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Intake.Case_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Intake.Sub_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_1_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Employer_Id</name>
        <label>Assign Employer Id</label>
        <locationX>1106</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>varEmployerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employer_when_Injured2.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Stage_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Treatment_Facility</name>
        <label>Assign New Treatment Facility</label>
        <locationX>2162</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>varFirstTreatmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Treatment_Facility.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Stage_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Picklist_Values</name>
        <label>Assign Picklist Values</label>
        <locationX>1722</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>PicklistCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetPicklistValues.picklistValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Stages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Prior_Stage_to_Current_Stage</name>
        <label>Assign Prior Stage to Current Stage</label>
        <locationX>4274</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>varCurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPriorStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPriorStage</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Intake</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_1</name>
        <label>Assign Stage 1</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>varPriorStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStage1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Body_Parts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_2</name>
        <label>Assign Stage 2</label>
        <locationX>842</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>varPriorStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStage2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Employee_Party</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_3</name>
        <label>Assign Stage 3</label>
        <locationX>1898</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>varPriorStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStage3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Treatment_Party</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_4</name>
        <label>Assign Stage 4</label>
        <locationX>2690</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>varPriorStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStage4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Stage_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_5</name>
        <label>Assign Stage 5</label>
        <locationX>3218</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>varPriorStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStage5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Stage_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stages</name>
        <label>Assign Stages</label>
        <locationX>1722</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varStage1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accident</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStage2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Employer Info and Lost Time</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStage3</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Treatment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStage4</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Priors</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStage5</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpeningStage1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Intake Info</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpeningStage2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client Info</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpeningStage3</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Case Info</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Stages_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stages_to_Collection</name>
        <label>Assign Stages to Collection</label>
        <locationX>1722</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOpeningStage1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOpeningStage2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOpeningStage3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varStage1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varStage2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varStage3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varStage4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varStage5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Count_of_Stages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_CSV</name>
        <label>Assign to CSV</label>
        <locationX>1898</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varStagesCSV</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Stages</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStageCount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Last</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPicklist</name>
        <label>AssignPicklist</label>
        <locationX>138</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>Var_BodyPartsInjured</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>Loop_Body_Parts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Body_Parts</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>salar</name>
        <choiceText>salar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>salar</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Finish</name>
        <label>Finish?</label>
        <locationX>4010</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Assign_Prior_Stage_to_Current_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Go Back</defaultConnectorLabel>
        <rules>
            <name>Yes_Finish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Questionnaire_Status</targetReference>
            </connector>
            <label>Yes - Finish</label>
        </rules>
    </decisions>
    <decisions>
        <name>Injuries_Exist</name>
        <label>Injuries Exist?</label>
        <locationX>1722</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Navigation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Intake.Body_parts_injured__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_Multi_to_String</targetReference>
            </connector>
            <label>Yes - Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Last</name>
        <label>Last?</label>
        <locationX>1898</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Add_Comma</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Last</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varStageCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Stages</targetReference>
            </connector>
            <label>Yes - Last</label>
        </rules>
    </decisions>
    <decisions>
        <description>Case Info,Employer Info, Accident &amp; Notice, Treatment, Priors, PI Review</description>
        <name>Navigation</name>
        <label>Navigation</label>
        <locationX>1722</locationX>
        <locationY>1682</locationY>
        <defaultConnector>
            <targetReference>Finish</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opening_Stage_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varOpeningStage1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage</targetReference>
            </connector>
            <label>Opening Stage 1</label>
        </rules>
        <rules>
            <name>Opening_Stage_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varOpeningStage2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage</targetReference>
            </connector>
            <label>Opening Stage 2</label>
        </rules>
        <rules>
            <name>Opening_Stage_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varOpeningStage3</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage</targetReference>
            </connector>
            <label>Opening Stage 3</label>
        </rules>
        <rules>
            <name>Stage_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentStage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCurrentStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varStage1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCurrentStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Next</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Stage</targetReference>
            </connector>
            <label>Stage 1</label>
        </rules>
        <rules>
            <name>Stage_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varStage2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_2_Screen</targetReference>
            </connector>
            <label>Stage 2</label>
        </rules>
        <rules>
            <name>Stage_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varStage3</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_3_screen</targetReference>
            </connector>
            <label>Stage 3</label>
        </rules>
        <rules>
            <name>Stage_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varStage4</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage4</targetReference>
            </connector>
            <label>Stage 4</label>
        </rules>
        <rules>
            <name>Stage_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varStage5</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_5_Screen</targetReference>
            </connector>
            <label>Stage 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Employee_Party</name>
        <label>New Employee Party?</label>
        <locationX>842</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Assign_Employer_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Employee_Party</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Employer_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Employee_Party</targetReference>
            </connector>
            <label>Yes - New Employee Party</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Treatment_Party</name>
        <label>New Treatment Party</label>
        <locationX>1898</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Assign_New_Treatment_Facility</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Treatment_Party</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Treatment_toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Medical_Facility</targetReference>
            </connector>
            <label>Yes - New Treatment Party</label>
        </rules>
    </decisions>
    <description>Fault Paths Added. Address Picker Autocomplete for Flow component removed.</description>
    <dynamicChoiceSets>
        <name>PLCHInjuries</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Body_parts_injured__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plChSubstitutionWC</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Substitution_WC__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_Areyoustillbeingtreated</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Are_you_still_being_treated_for_this_inj__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_Attorney_Client_Meeting</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Attorney_Client_Meeting__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_Clientisa</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Client_is_a__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_Currentworkstatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Current_Work_Status__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_Didyouseekanymedical</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Did_you_seek_any_medical_treatment_after__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_Didyoustopworking</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Did_you_stop_working__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_doyouremember</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Do_you_remember_having_another_injury_to__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_Haveyougivenyouremployer</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Have_you_given_your_employer_or_supervi__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>var_Haveyoureturntowork</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Have_you_Return_to_Work__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_Ifyouwere</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>If_yes_will_you_treated_by_the_doctor__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_Inwhatform</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>In_what_form__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>var_inwhatformofpayment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>In_what_form_did_you_get_that_payment__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_IsthisarepetitivestressODcase</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_this_a_repetitive_stress_OD_case__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_Noticofclaimneeded</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>NOTICE_OF_CLAIM_NEEDED__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_Photo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Photo__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_returnedtowork</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Have_you_Return_to_Work__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_States</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>litify_pm__Case_State__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_subtype</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sub_Type__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_takenbyambulence</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Were_you_taken_from_the_site_in_an_ambul__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_Taxidriver</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Taxi_Driver__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_treatedonsite</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Were_you_treated_on_site__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_UnionMember</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Are_you_a_member_of_a_union__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_Vehicleinvolved</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>If_yes_who_s_vehicle__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_Video</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Video__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_wasthisthesameemployer</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_it_the_same_employer__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_Wasthisworkrelated</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Was_the_Prior_Injury_work_related__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_Where_did_you_receive_your_first_off_sit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Where_did_you_receive_your_first_off_sit__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_whodoyouworkfornow</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>If_you_returned_to_work_who_are_you_wor__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fxAutoFinish</name>
        <dataType>String</dataType>
        <expression>&quot;Questionnaire will auto-finish when inactive for 5 minutes.  Click reset if you need more time.&quot;</expression>
    </formulas>
    <formulas>
        <name>fxDefaultSeekMedical</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Get_Intake.Did_you_seek_any_medical_treatment_after__c})),&quot;Yes&quot;,TEXT({!Get_Intake.Did_you_seek_any_medical_treatment_after__c}))</expression>
    </formulas>
    <interviewLabel>Persona {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Personal Injury Intake Questionnaire</label>
    <loops>
        <name>Loop_Body_Parts</name>
        <label>Loop Body Parts</label>
        <locationX>50</locationX>
        <locationY>2114</locationY>
        <collectionReference>BodyPartsInjured.selectedOptionsStringList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignPicklist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Stage_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Stages</name>
        <label>Loop Stages</label>
        <locationX>1722</locationX>
        <locationY>674</locationY>
        <collectionReference>varStages</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_CSV</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Intake</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Employee_Party</name>
        <label>Create New Employee Party</label>
        <locationX>578</locationX>
        <locationY>2114</locationY>
        <assignRecordIdToReference>varEmployerId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Stage_2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_New_Employee_Party_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>EmployerAddress.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>EmployerAddress.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>EmployerAddress.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>EmployerAddress.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>EmployerAddress.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Employer_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Employer_phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0122E000000pD33QAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Employer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Phone_Mobile__c</field>
            <value>
                <elementReference>Employer_phone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Medical_Facility</name>
        <label>Create New Medical Facility</label>
        <locationX>1634</locationX>
        <locationY>2114</locationY>
        <assignRecordIdToReference>varFirstTreatmentId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Stage_3</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_New_Medical_Facility_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>FacilityAddress.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>FacilityAddress.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>FacilityAddress.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>FacilityAddress.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>FacilityAddress.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>First_Treatment_Facility_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>First_Treatment_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0122E000000pD33QAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Medical Facility</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Phone_Mobile__c</field>
            <value>
                <elementReference>First_Treatment_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Intake</name>
        <label>Get Intake</label>
        <locationX>1722</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Injuries_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Questionnaire_Status</name>
        <label>Update Questionnaire Status</label>
        <locationX>3746</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Show_Toast</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Stage_6_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Questionnaire_Status__c</field>
            <value>
                <stringValue>Completed, Not Signed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Questionnaire_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage</name>
        <label>Update Stage</label>
        <locationX>1722</locationX>
        <locationY>3020</locationY>
        <faultConnector>
            <targetReference>Update_Stage_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Stage__c</field>
            <value>
                <elementReference>varCurrentStage</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage_1</name>
        <label>Update Stage 1</label>
        <locationX>50</locationX>
        <locationY>2414</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Intake</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Stage_1_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intake.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Body_parts_injured__c</field>
            <value>
                <elementReference>Var_BodyPartsInjured</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_is_a__c</field>
            <value>
                <elementReference>Client_is_a_Driver_Passenger_Pedestrian</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commercial_Vehicle__c</field>
            <value>
                <elementReference>Commercial_Vehicle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Stage__c</field>
            <value>
                <elementReference>varCurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Did_the_Police_pl__c</field>
            <value>
                <elementReference>Did_Police_Come_to_the_Scene_pl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_have_a_copy_of_the_police_report__c</field>
            <value>
                <elementReference>Do_you_have_a_copy_of_the_police_report</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incident_Date_Text__c</field>
            <value>
                <elementReference>Date_of_Accident</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incident_History__c</field>
            <value>
                <elementReference>Incident_Description_Detailed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incident_Time__c</field>
            <value>
                <elementReference>Incident_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incident_Witnesses__c</field>
            <value>
                <elementReference>Witnesses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_there_a_fracture__c</field>
            <value>
                <elementReference>Is_there_a_fracture</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_of_the_accident__c</field>
            <value>
                <elementReference>Incident_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NOTICE_OF_CLAIM_NEEDED__c</field>
            <value>
                <elementReference>NOTICE_OF_CLAIM_NEEDED</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Photo__c</field>
            <value>
                <elementReference>Photo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Police_report__c</field>
            <value>
                <elementReference>Police_report</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <elementReference>Sub_Type.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Video__c</field>
            <value>
                <elementReference>Video</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weather__c</field>
            <value>
                <elementReference>Weather</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Case_State__c</field>
            <value>
                <elementReference>Incident_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Incident_Date__c</field>
            <value>
                <elementReference>Date_of_Accident</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage_2</name>
        <label>Update Stage 2</label>
        <locationX>842</locationX>
        <locationY>2546</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Intake</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Stage_2_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intake.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Are_you_a_member_of_a_union__c</field>
            <value>
                <elementReference>Union_Member2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Stage__c</field>
            <value>
                <elementReference>varCurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Work_Status__c</field>
            <value>
                <elementReference>Current_Work_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Did_you_stop_working__c</field>
            <value>
                <elementReference>Did_you_stop_work_because_of_your_injury_illness</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employer__c</field>
            <value>
                <elementReference>varEmployerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_Return_to_Work__c</field>
            <value>
                <elementReference>Have_you_returned_to_work</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Party__c</field>
            <value>
                <elementReference>Union2.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_To_Work_Date__c</field>
            <value>
                <elementReference>Return_to_work_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salary__c</field>
            <value>
                <elementReference>form_of_payment2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stop_Work_Date__c</field>
            <value>
                <elementReference>Out_of_Work_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Comments_Notes__c</field>
            <value>
                <elementReference>Work_Comments_Notes_long</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage_3</name>
        <label>Update Stage 3</label>
        <locationX>1898</locationX>
        <locationY>2546</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Intake</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Stage_3_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intake.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Stage__c</field>
            <value>
                <elementReference>varCurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Did_you_seek_any_medical_treatment_after__c</field>
            <value>
                <elementReference>Did_you_seek_any_medical_treatment_after_the_accident</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Treatment_Facility__c</field>
            <value>
                <elementReference>varFirstTreatmentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Treatment_Summary__c</field>
            <value>
                <elementReference>Summary_of_Treatment_to_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Were_you_taken_from_the_site_in_an_ambul__c</field>
            <value>
                <elementReference>Were_you_taken_from_the_site_in_an_ambulance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Were_you_treated_on_site__c</field>
            <value>
                <elementReference>Were_you_treated_on_site</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>When_did_you_first_seek_treatment__c</field>
            <value>
                <elementReference>First_Treatment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Where_did_you_receive_your_first_off_sit__c</field>
            <value>
                <elementReference>First_Treatment_Facility_Type</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage_4</name>
        <label>Update Stage 4</label>
        <locationX>2690</locationX>
        <locationY>2006</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Intake</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Stage_4_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intake.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Stage__c</field>
            <value>
                <elementReference>varCurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_of_Prior_Injuries__c</field>
            <value>
                <elementReference>Description_of_Prior_Injuries_long</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_of_Prior_Lawsuits__c</field>
            <value>
                <elementReference>Description_of_Prior_Lawsuits_long</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_remember_having_another_injury_to__c</field>
            <value>
                <elementReference>Prior_Injuries</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prior_Lawsuits__c</field>
            <value>
                <elementReference>Prior_Lawsuits_pl</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage_5</name>
        <label>Update Stage 5</label>
        <locationX>3218</locationX>
        <locationY>2006</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Intake</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Stage_5_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intake.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Attorney_Client_Meeting__c</field>
            <value>
                <elementReference>Attorney_Client_Meeting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Stage__c</field>
            <value>
                <stringValue>Finish</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flag_for_Review__c</field>
            <value>
                <elementReference>Flag_for_Review</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PI_Review_Comments__c</field>
            <value>
                <elementReference>PI_Review_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PI_Reviewed_By__c</field>
            <value>
                <elementReference>PI_Reviewed_By.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <screens>
        <name>Create_New_Employee_Party_Error</name>
        <label>Create New Employee Party Error</label>
        <locationX>842</locationX>
        <locationY>2222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMsg2</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_New_Medical_Facility_Error</name>
        <label>Create New Medical Facility Error</label>
        <locationX>1898</locationX>
        <locationY>2222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMsg3</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Stage4</name>
        <label>Stage 4</label>
        <locationX>2690</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Stage_4</targetReference>
        </connector>
        <fields>
            <name>shim10</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Stage4_Header</name>
            <extensionName>c:directNavigationHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>targetStringCSV</name>
                <value>
                    <elementReference>varStagesCSV</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varCurrentStage</assignToReference>
                <name>selectedTarget</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Shim13</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Current_Stage_4</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(3, 45, 96); font-size: 20px;&quot;&gt;     &lt;u&gt;{!varCurrentStage}&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Prior_Injuries</name>
            <choiceReferences>Var_doyouremember</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Intake.Do_you_remember_having_another_injury_to__c</elementReference>
            </defaultValue>
            <fieldText>Prior Injuries?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Description_of_Prior_Injuries_long</name>
            <defaultValue>
                <stringValue>{!Get_Intake.Description_of_Prior_Injuries__c}</stringValue>
            </defaultValue>
            <fieldText>Description of Prior Injuries</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Prior_Injuries</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Prior_Lawsuits_pl</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Intake.Prior_Lawsuits__c</elementReference>
            </defaultValue>
            <fieldText>Prior Lawsuits</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Description_of_Prior_Lawsuits_long</name>
            <defaultValue>
                <stringValue>{!Get_Intake.Description_of_Prior_Lawsuits__c}</stringValue>
            </defaultValue>
            <fieldText>Description of Prior Lawsuits</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Prior_Lawsuits_pl</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Stage4_Footer</name>
            <extensionName>c:directNavigationFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextTargetName</name>
                <value>
                    <elementReference>varStage5</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>prevTargetName</name>
                <value>
                    <elementReference>varStage3</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varCurrentStage</assignToReference>
                <name>selectedTarget</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>shim2</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Stage_1_Error</name>
        <label>Stage 1 Error</label>
        <locationX>314</locationX>
        <locationY>2522</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMsg1</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Stage_1_Screen</name>
        <label>Stage 1</label>
        <locationX>50</locationX>
        <locationY>1898</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Stage_1</targetReference>
        </connector>
        <fields>
            <name>shim8</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Stage1_Header</name>
            <extensionName>c:directNavigationHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>targetStringCSV</name>
                <value>
                    <elementReference>varStagesCSV</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varCurrentStage</assignToReference>
                <name>selectedTarget</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>shim1</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Current_Stage_1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(3, 45, 96);&quot;&gt;     &lt;u&gt;{!varCurrentStage}&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Stage_1_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Stage_1_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Accident</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Intake.litify_pm__Incident_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Date of Accident</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Stage_1_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Incident_Time</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Intake.Incident_Time__c</elementReference>
                    </defaultValue>
                    <fieldText>Incident Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Arial; font-size: 11pt; color: rgb(0, 0, 0);&quot;&gt;Include &quot;AM&quot; or &quot;PM&quot;&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Stage_1_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Stage_1_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Incident_Location</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Intake.Location_of_the_accident__c</elementReference>
                    </defaultValue>
                    <fieldText>Incident Location</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Incident_State</name>
                    <choiceReferences>Var_States</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Intake.litify_pm__Case_State__c</elementReference>
                    </defaultValue>
                    <fieldText>Incident State</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Weather</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Intake.Weather__c</elementReference>
                    </defaultValue>
                    <fieldText>Weather</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Incident_Description_Detailed</name>
                    <defaultValue>
                        <stringValue>{!Get_Intake.Incident_History__c}</stringValue>
                    </defaultValue>
                    <fieldText>Incident Description (Detailed)</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Stage_1_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Stage_1_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sub_Type</name>
                    <extensionName>c:fsc_quickChoiceFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Picklist Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>litify_pm__Intake__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>Sub Type</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_dependentPicklist</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>controllingPicklistValue</name>
                        <value>
                            <elementReference>varCaseType</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordTypeId</name>
                        <value>
                            <stringValue>0122E000000pD31</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldName</name>
                        <value>
                            <stringValue>Sub_Type__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>dependentPicklist</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Stage_1_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Commercial_Vehicle</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Intake.Commercial_Vehicle__c</elementReference>
                    </defaultValue>
                    <fieldText>Commercial Vehicle?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Intake.Case_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>MVA</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Stage_1_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Stage_1_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BodyPartsInjured</name>
                    <extensionName>c:fsc_dualListBox3</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>allOptionsStringFormat</name>
                        <value>
                            <stringValue>list</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>allOptionsStringCollection</name>
                        <value>
                            <elementReference>PicklistCollection</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Body Parts Injured</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedOptionsStringList</name>
                        <value>
                            <elementReference>varInjuriesCSV</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Is_there_a_fracture</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Intake.Is_there_a_fracture__c</elementReference>
                    </defaultValue>
                    <fieldText>Is there a fracture?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>NOTICE_OF_CLAIM_NEEDED</name>
                    <choiceReferences>Var_Noticofclaimneeded</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Intake.NOTICE_OF_CLAIM_NEEDED__c</elementReference>
                    </defaultValue>
                    <fieldText>NOTICE OF CLAIM NEEDED</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Client_is_a_Driver_Passenger_Pedestrian</name>
                    <choiceReferences>Var_Clientisa</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Intake.Client_is_a__c</elementReference>
                    </defaultValue>
                    <fieldText>Client is a(Driver, Passenger, Pedestrian)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Intake.Case_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>MVA</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Did_Police_Come_to_the_Scene_pl</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Intake.Did_the_Police_pl__c</elementReference>
                    </defaultValue>
                    <fieldText>Did Police Come to the Scene?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Intake.Case_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>MVA</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Do_you_have_a_copy_of_the_police_report</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Intake.Do_you_have_a_copy_of_the_police_report__c</elementReference>
                    </defaultValue>
                    <fieldText>Do you have a copy of the police report?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Intake.Case_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>MVA</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Police_report</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Intake.Police_report__c</elementReference>
                    </defaultValue>
                    <fieldText>Police report #</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Do_you_have_a_copy_of_the_police_report</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Intake.Case_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>MVA</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Photo</name>
                    <choiceReferences>Var_Photo</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Intake.Photo__c</elementReference>
                    </defaultValue>
                    <fieldText>Photo?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Video</name>
                    <choiceReferences>Var_Video</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Intake.Video__c</elementReference>
                    </defaultValue>
                    <fieldText>Video?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Witnesses</name>
                    <defaultValue>
                        <stringValue>{!Get_Intake.Incident_Witnesses__c}</stringValue>
                    </defaultValue>
                    <fieldText>Witnesses</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Stage1_Footer</name>
                    <extensionName>c:directNavigationFooter</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>nextTargetName</name>
                        <value>
                            <elementReference>varStage2</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varCurrentStage</assignToReference>
                        <name>selectedTarget</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Stage_1_Screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Stage_1_Screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Previous_Button_Bar</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Go Back&quot;,&quot;value&quot;:&quot;Previous&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:arrow_left&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Stage_1_Screen_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varSubflow</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>shim19</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Stage_2_Error</name>
        <label>Stage 2 Error</label>
        <locationX>1370</locationX>
        <locationY>2654</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMsg2a</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Stage_2_Screen</name>
        <label>Stage 2</label>
        <locationX>842</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Stage_2</targetReference>
        </connector>
        <fields>
            <name>shim9</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Stage2_Header</name>
            <extensionName>c:directNavigationHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>targetStringCSV</name>
                <value>
                    <elementReference>varStagesCSV</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varCurrentStage</assignToReference>
                <name>selectedTarget</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Shim3</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Current_Stage_2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(3, 45, 96); font-size: 20px;&quot;&gt;     &lt;u&gt;{!varCurrentStage}&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Employer_when_Injured2</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Employer__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Employer when injured</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>litify_pm__Intake__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varEmployerId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Employer_Toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Stage_2_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Stage_2_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Employer_Toggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>New Employer Party</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Stage_2_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Employer_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Employer Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Employer_Toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Employer_phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Employer Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Employer_Toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>EmployerAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showAddressLookup</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Employer_Toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Approximate_Wages_Weekly2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Intake.Salary__c</elementReference>
            </defaultValue>
            <fieldText>Approximate Wages (Weekly)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>form_of_payment2</name>
            <choiceReferences>var_inwhatformofpayment</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Intake.In_what_form_did_you_get_that_payment__c</elementReference>
            </defaultValue>
            <fieldText>Form of Payment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Union_Member2</name>
            <choiceReferences>Var_UnionMember</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Intake.Are_you_a_member_of_a_union__c</elementReference>
            </defaultValue>
            <fieldText>Union Member?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Union2</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Party__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Union</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>litify_pm__Intake__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Intake.Party__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Union_Member2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Did_you_stop_work_because_of_your_injury_illness</name>
            <choiceReferences>Var_Didyoustopworking</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Intake.Did_you_stop_working__c</elementReference>
            </defaultValue>
            <fieldText>Did you stop work because of your injury/illness?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Out_of_Work_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Intake.Stop_Work_Date__c</elementReference>
            </defaultValue>
            <fieldText>Out of Work Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Did_you_stop_work_because_of_your_injury_illness</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Have_you_returned_to_work</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Intake.Have_you_Return_to_Work__c</elementReference>
            </defaultValue>
            <fieldText>Have you returned to work?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Did_you_stop_work_because_of_your_injury_illness</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Return_to_work_date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Intake.Return_To_Work_Date__c</elementReference>
            </defaultValue>
            <fieldText>Return to work date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Have_you_returned_to_work</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Current_Work_Status</name>
            <choiceReferences>Var_Currentworkstatus</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Intake.Current_Work_Status__c</elementReference>
            </defaultValue>
            <fieldText>Current Work Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Work_Comments_Notes_long</name>
            <defaultValue>
                <stringValue>{!Get_Intake.Work_Comments_Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Work Comments/Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Stage2_Footer</name>
            <extensionName>c:directNavigationFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextTargetName</name>
                <value>
                    <elementReference>varStage3</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>prevTargetName</name>
                <value>
                    <elementReference>varStage1</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varCurrentStage</assignToReference>
                <name>selectedTarget</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>shim15</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Stage_3_Error</name>
        <label>Stage 3 Error</label>
        <locationX>2426</locationX>
        <locationY>2654</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMsg3a</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Stage_3_screen</name>
        <label>Stage 3</label>
        <locationX>1898</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Stage_3</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_shim10</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Stage3_Header</name>
            <extensionName>c:directNavigationHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>targetStringCSV</name>
                <value>
                    <elementReference>varStagesCSV</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varCurrentStage</assignToReference>
                <name>selectedTarget</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>shim4</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Current_Stage_3</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(3, 45, 96); background-color: rgb(255, 255, 255);&quot;&gt;     &lt;u&gt;{!varCurrentStage}&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Were_you_treated_on_site</name>
            <choiceReferences>Var_treatedonsite</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Intake.Were_you_treated_on_site__c</elementReference>
            </defaultValue>
            <fieldText>Were you treated on site?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Were_you_taken_from_the_site_in_an_ambulance</name>
            <choiceReferences>Var_takenbyambulence</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Intake.Were_you_taken_from_the_site_in_an_ambul__c</elementReference>
            </defaultValue>
            <fieldText>Were you taken from the site in an ambulance?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Did_you_seek_any_medical_treatment_after_the_accident</name>
            <choiceReferences>Var_Didyouseekanymedical</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Did_you_seek_any_medical_treatment_after_the_accident</elementReference>
            </defaultValue>
            <fieldText>Did you seek any medical treatment after the accident?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Were_you_taken_from_the_site_in_an_ambulance</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>First_Treatment_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Intake.When_did_you_first_seek_treatment__c</elementReference>
            </defaultValue>
            <fieldText>First Treatment - Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Did_you_seek_any_medical_treatment_after_the_accident</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Were_you_taken_from_the_site_in_an_ambulance</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>First_Treatment_Facility_Type</name>
            <choiceReferences>Var_Where_did_you_receive_your_first_off_sit</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Intake.Where_did_you_receive_your_first_off_sit__c</elementReference>
            </defaultValue>
            <fieldText>First Treatment - Facility Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Did_you_seek_any_medical_treatment_after_the_accident</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Were_you_taken_from_the_site_in_an_ambulance</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>First_Treatment_Facility</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>First_Treatment_Facility__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>First Treatment - Facility</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>litify_pm__Intake__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varFirstTreatmentId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>(1 OR 2) AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>Did_you_seek_any_medical_treatment_after_the_accident</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Were_you_taken_from_the_site_in_an_ambulance</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>New_Treatment_toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Stage_3_screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Stage_3_screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>New_Treatment_toggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>New Treatment Party?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Did_you_seek_any_medical_treatment_after_the_accident</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Were_you_taken_from_the_site_in_an_ambulance</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Stage_3_screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Treatment_Facility_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Treatment Facility Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>New_Treatment_toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>First_Treatment_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>First Treatment Facility Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>New_Treatment_toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FacilityAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showAddressLookup</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>New_Treatment_toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Summary_of_Treatment_to_Date</name>
            <defaultValue>
                <stringValue>{!Get_Intake.Treatment_Summary__c}</stringValue>
            </defaultValue>
            <fieldText>Summary of Treatment to Date</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Did_you_seek_any_medical_treatment_after_the_accident</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Were_you_taken_from_the_site_in_an_ambulance</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Stage3_Footer</name>
            <extensionName>c:directNavigationFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextTargetName</name>
                <value>
                    <elementReference>varStage4</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>prevTargetName</name>
                <value>
                    <elementReference>varStage2</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varCurrentStage</assignToReference>
                <name>selectedTarget</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>shim16</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Stage_4_Error</name>
        <label>Stage 4 Error</label>
        <locationX>2954</locationX>
        <locationY>2114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMsg4</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Stage_5_Error</name>
        <label>Stage 5 Error</label>
        <locationX>3482</locationX>
        <locationY>2114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMsg5</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Stage_5_Screen</name>
        <label>Stage 5</label>
        <locationX>3218</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Stage_5</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_shim10</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_Stage5_Header</name>
            <extensionName>c:directNavigationHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>targetStringCSV</name>
                <value>
                    <elementReference>varStagesCSV</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varCurrentStage</assignToReference>
                <name>selectedTarget</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_shim5</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_Current_Stage_5</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(3, 45, 96); background-color: rgb(255, 255, 255);&quot;&gt;     &lt;u&gt;{!varCurrentStage}&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Stage_5_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Stage_5_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Attorney_Client_Meeting</name>
                    <choiceReferences>Var_Attorney_Client_Meeting</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Intake.Attorney_Client_Meeting__c</elementReference>
                    </defaultValue>
                    <fieldText>Attorney-Client Meeting</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>PI_Reviewed_By</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>PI_Reviewed_By__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>PI Reviewed By</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>litify_pm__Intake__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Intake.PI_Reviewed_By__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>PI_Review_Comments</name>
                    <defaultValue>
                        <stringValue>{!Get_Intake.PI_Review_Comments__c}</stringValue>
                    </defaultValue>
                    <fieldText>PI Review Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Flag_for_Review</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Flag for Review</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_Stage4_Footer</name>
            <extensionName>c:directNavigationFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextTargetName</name>
                <value>
                    <stringValue>Finish</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>prevTargetName</name>
                <value>
                    <elementReference>varStage4</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varCurrentStage</assignToReference>
                <name>selectedTarget</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_shim16</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Stage_6_Error</name>
        <label>Stage 6 Error</label>
        <locationX>4010</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMsg6</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Stage_Error</name>
        <label>Update Stage Error</label>
        <locationX>4538</locationX>
        <locationY>3128</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMsg7</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1596</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetPicklistValues</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PicklistCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_BodyPartsInjured</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>varStage1</elementReference>
        </value>
    </variables>
    <variables>
        <name>varEmployerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Intake.Employer__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varFirstTreatmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Intake.First_Treatment_Facility__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varInjuriesCSV</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpeningStage1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpeningStage2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpeningStage3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPriorStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPriorWCAttorneys</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStage1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStage1Visited</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStage2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStage2Visited</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStage3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStage3Visited</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStage4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStage4Visited</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStage5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStage5Visited</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStage6</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStage6Visited</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStageCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varStages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStagesCSV</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubflow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWCBNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
